<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <style>
        cal {
            color : red
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 10;
        }

        .center-container {
            text-align: center;
        }
        .cal {
            color : white;
        } 
    </style>
</head>
<body bgcolor="lightgreen">
    <div class = "center-container">
<h1 class = "cal">Calculator</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="num1" class = "cal">Enter first number:</label><br>
        <input type="text" name="num1" required>
        <br>
        <label for="num2" class = "cal">Enter second number:</label><br>
        <input type="text" name="num2" required>
        <br>
        <label for="operation" class = "cal">Operation:</label><br>
        <select name="operation" required><br>
            <option value="add">Addition</option>
            <option value="substraction">substraction</option>
            <option value="multiplication">Multiplication</option>
            <option value="division">Division</option>
        </select><br>
        <br>
        <button type="submit">Calculate</button>
    </form>

    <h2>Result</h2>
<p>Result: {{ result }}</p>

<button> clear </button>
</div>
</body>
</html>